$kuro-red-normal: #d23e08;
$kuro-red-light: #ffb7b7;
$kuro-red-dark: #b66056;
$kuro-green-normal: #54ca74;
$kuro-green-light: #c1ffae;
$kuro-green-dark: #85b1a9;
$kuro-blue-normal: #2ab9ff;
$kuro-blue-light: #a1d9ff;
$kuro-blue-dark: #6890d7;
$kuro-cyan-normal: #1ef9f5;
$kuro-cyan-light: #8efff3;
$kuro-cyan-dark: #60bebe;
$kuro-magenta-normal: #ff50da;
$kuro-magenta-light: #ffa2ed;
$kuro-magenta-dark: #cc83bd;
$kuro-yellow-normal: #fff700;
$kuro-yellow-light: #fcffb8;
$kuro-yellow-dark: #dbbb43;
$kuro-black-normal: #333333;
$kuro-black-light: #515151;
$kuro-black-dark: #141515;
$kuro-white-normal: #ddd0c4;
$kuro-white-light: #ffffff;
$kuro-white-dark: #94959b;
$kuro-purple-normal: #9e60ec;
$kuro-purple-light: #a994ff;
$kuro-purple-dark: #887aa3;
$kuro-orange-normal: #e59605;
$kuro-orange-light: #ffc663;
$kuro-orange-dark: #ab7b4e;
$kuro-brown-normal: #9d5918;
$kuro-brown-light: #f9cfb9;
$kuro-brown-dark: #837369;
$kuro-monospace-default: "JetBrainsMono Nerd Font", ui-monospace, SFMono-Regular, "Cascadia Code", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;
$jetto: JetBrainsMonoNerdFontMono;

/* * { all: unset; } */

.traybar {
  font-family: $jetto;
  background-color: transparent;
  font-size: 14px;
  color: rgba($kuro-white-normal, 1);
}

.tray-box {
  padding: 16px 8px 8px;

  .sys-stats,
  .systray {
    background: rgba($kuro-black-dark, 0.8);
    padding: 4 16px;
    border: 3 solid rgba($kuro-white-dark, 0.25);
    border-radius: 32px;

    .cpu,
    .ram,
    .temp,
    .disk {
      .icon {
        color: rgba($kuro-white-light, 1);
        font-weight: 900;
        font-size: 18px;
      }
      .sys-stats-value {
        /* font-weight: 600; */
      }
    }
  }
}

.menubar {
  all: unset;
  font-family: $jetto;
  background-color: transparent;
  font-size: 14px;
  color: rgba($kuro-white-normal, 1);

  .chronic,
  .system,
  .active-window {
    background: rgba($kuro-black-dark, 0.8);
    padding: 0 14px;
    border: 3 solid rgba($kuro-white-dark, 0.25);
    border-radius: 32px;
  }

  .chronic {
    color: rgba($kuro-white-normal, 1);
  }
  /* .void { */
  /* background: orange; */
  /* } */
  .active-window {
    .aw-class {}
    .aw-title {}
  }
}

.battery,
.wifi,
.volume {
  padding: 0;

  .icon {
    font-size: 24px;
  }
}

.volume.button {
  background: $kuro-white-dark;
}

.bat-charging {
  color: $kuro-yellow-dark;
}

.bat-full {
  color: $kuro-green-dark;
}

.bat-low {
  color: $kuro-red-dark;
}

.wifi {
  font-family: $jetto;
}

.workspaces {
  transition-property: all;
  font-family: $jetto;
  background: rgba($kuro-black-normal, 0);
  font-size: 16px;
  padding: 16px;

  .wsp-box {
    // dumb hack to fill up the edges
    padding: 16px 100px;
  }

  .fullscreen {
    background: rgba($kuro-black-normal, 0);
  }

  .wsp-btn {
    padding: 0 14px;
    border-radius: 32px;
    border: 3 solid rgba($kuro-white-dark, 0.25);
    background: rgba($kuro-black-dark, 0.8);
    opacity: 0.8;
    color: $kuro-white-dark;

    .icon {
      font-size: 18px;
      font-weight: 900;
    }

    .name {
      font-size: 14px;
    }

    &:hover, &:hover:focus {
      background: rgba($kuro-black-light, 1);
      color: $kuro-white-light;
      opacity: 0.9;
    }

    &:focus {
      border: 3 solid rgba($kuro-black-light, 1);
      background: rgba($kuro-black-dark, 1);
      color: $kuro-white-normal;
      opacity: 1;
      outline: 0;
    }
  }

  .active-wsp {
    color: $kuro-yellow-dark;
    background: rgba($kuro-black-dark, 1);
    font-weight: 900;
    opacity: 1;
    border: 3 solid rgba($kuro-black-dark, 1);

    &:hover, &:focus {
      color: $kuro-yellow-dark;
      background: rgba($kuro-black-dark, 1);
      opacity: 1;
      border: 3 solid rgba($kuro-black-dark, 1);
    }
  }
}

.volume {
  padding: 0;

  button {
    .icon {}
  }

  .mute {
    .icon {}
  }

  .value {
    font-weight: 900;
  }

  .button {
    all: unset;

    .icon {
      font-family: $jetto;
    }
  }
}

.volume slider {
  background: $kuro-white-light;
  border: 0;
  padding: 0;
  margin: -6px;
  min-height: 2px;
  min-width: 2px;
}

.volume scale trough highlight {
  background: $kuro-white-light;
  border: 0;
  border-radius: 10px;
  padding: 0;
}

.volume scale trough {
  background: $kuro-black-light;
  border-radius: 10px;
  min-height: 8px;
  min-width: 7px;
  // margin-right: 8px;
  margin: 0;
  padding: 0;
}

.vol-stat,
.light-stat {
  all: unset;
  background: rgba($kuro-black-dark, 0.5);
  border: 3 solid rgba($kuro-white-dark, 0.3);
  padding: 16px 16px 24px;
  border-radius: 16px;

  .box {
    transition-property: all;
    padding: 24px;

    .icon {
      font-size: 72px;
      color: rgba($kuro-white-light, 0.35);
      margin-bottom: 8px;
    }

    scale {
      padding: 0;

      slider {
        border: 0;
        background: rgba($kuro-black-dark, 0);
      }

      trough highlight {
        background: rgba($kuro-white-light, 1);
        border: 0;
        border-radius: 10px;
      }

      trough {
        padding: 0;
        background: $kuro-black-light;
        border-radius: 50px;
        min-height: 12px;
        min-width: 112px;
      }
    }
  }
}

.vol-stat {
  .box {
    scale {
      trough highlight {
        /* background: rgba($kuro-blue-dark, 1); */
      }
    }
  }
}

.light-stat {
  .box {
    scale {
      trough highlight {
        /* background: rgba($kuro-yellow-dark, 1); */
      }
    }
  }
}
