* {
  font-family: JetBrainsMonoNerdFontMono, FontAwesome, monospace, sans-serif;
  font-size: 18px;
}

window#waybar {
  background: rgba(34, 34, 34, 0.75);
  padding: 16px;
  border-top: 3px solid rgba(100, 114, 125, 0.2);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  padding-left: 16px;
}

.modules-right {
  padding-right: 16px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}


label:focus {
  background-color: #000000;
}

#tray {
  background-color: #2980b9;
}

#cpu,
#memory,
#disk,
#tray,
#temperature {
  background-color: rgba(0, 0, 0, 0.0);
  color: rgba(255, 255, 255, 1.0);
  padding: 0;
  font-family: JetBrainsMonoNerdFontMono, monospace;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}